@media (max-width: 600px){
    .home-container01{
        display: none;
    }

    .home-left{
        display: none;
    }
    .home-right {
        display: none;
    }

    .navbar-logo-title {
        margin-left: 0px;
    }

    .home-navbar{
        border-bottom: 6px solid white;
    }

    .home-main {
        padding-bottom: 30px;
    }

    .home-hero1 {
        flex-direction: column;
    }

    .home-container03 {
        padding-right: 0px;
        align-items: center;
    }

    .max-width-container{
        padding-left: 0px;
        padding-right: 0px;
    }

    .home-cards-container {
        display: grid;
        grid-template-columns: repeat(2, 250px);
        gap: 10px;
        justify-content: center;
    }

    .category-card-image {
        width: 100%;
        height: 180px;
        object-fit: cover;
    }

    .home-container07 {
        padding: 10px 30px;
    }

    .section-container {
        flex-direction: column;
        padding-top: 20px;
    }

    .home-text29 {
        margin: 20px auto;
    }

    .home-text30 {
        width: 100%;
    } 
    
    .home-left4 {
        padding: 10px 0px 24px 0px;
    }

    .home-image6 {
        width: 100%;
    }

    .blog-post-card-blog-post-card{
        max-width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .home-footer1 {
        flex-direction: column-reverse;
        padding-top: 40px;
    } 

   
    .home-links-container{
        flex-direction: column;
        margin-left: 24px;
        margin-bottom: 30px;
    }

    .home-container09 {
        padding-left: 20px;
    }

}