body{
    padding: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
}

.container {
    width: 80%;
    padding: 12px;
    border: 2px dashed black;
    margin-bottom: 32px;
}

.container img{
    width: 350px;
}

.static {
    background-color: lightskyblue;
}

.static img {
    position: relative;
    
}


.relative {
    background-color: lightcoral;
}

.relative img {
    position: relative;
    top: 20px;
    left: 20px;
}


.absolute {
    background-color: lightgreen;
    position: relative;
}

.absolute img {
    position: absolute;
    width: 135px;
    right: 2px;
    top: 1px;
}

.fixed {
    background-color: pink;
    position: relative;
}


.fixed img {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 100%;
}

.fixed button {
    position: absolute;
    bottom: 0px;
    left: 0px;
}


.stiky {
    background-color: lightsalmon;
    height: 400px;
    overflow: auto;
}

.stiky img {
    position: sticky;
    width: 100%;
    height: 200px;
    top: 40px;
}

.stiky p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.stiky button:hover {
    color: wheat;
    background-color: black;
}