body {
    font-family: Arial, sans-serif;
}

.designer-card {
    width: 400px;
    border-radius: 6px;
    overflow: hidden;
    border: 2px solid;
    position: relative;
    color: white;
}

.designer-card::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(13, 0, 0);
    opacity: 0.2;
}

.designer-card .img-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 600ms ease-in-out;
}

.designer-card:hover .img-bg {
    transform: scale(1.5);
}

/* Задава се на самия елемнт 'transition: transform 600ms ease-in-out;}'- примерно
и после се задава .designer-card:hover .img-bg {
    transform: scale(1.5);----как и с колко да се промени елемнта
} */

.designer-card .meta-info {
    display: grid;
    grid-template-columns: 50px 2fr 3fr;
    gap: 6px;
}

.designer-card .meta-info .writer{
    width: 100%;
    aspect-ratio: square;
    border-radius: 100%;
    overflow: hidden;
}

.designer-card .content {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    padding: 12px;
}


.designer-card .meta-info .writer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    overflow: hidden;
}

.designer-card .content .tag{
    font-size: 12px;
    color: rgb(247, 164, 11);
}

.designer-card .content .title {
    font-size: 18px;
    margin-bottom: 12px;
}

/* Example 2 -CARD */

.card {
    aspect-ratio: 1/1.5;
    width: 300px;
    border-radius: 6px;
    overflow: hidden;
    border: 2px solid;
    position: relative;
    color: white;
}

.card .img-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.card .content {
    position: absolute;
    bottom: -201px;
    left: 0px;
    width: 100%;
    padding: 12px;
    transition: bottom 600ms linear;
    /* background: rgb(42, 35, 181);
    background: linear-gradient(
        180deg,
        rgba(58, 50, 210, 0) 0%,
        rgba(78, 78, 98, 0.722) 30%,
        rgb(45, 30, 10) 60%
    ); */
}

.card .content .meta {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6px;
    text-align: center;
    margin-bottom: 12px;
}

.card .content .title {
    font-size: 22px;
    text-align: center;
}

.card .content .desc {
    height: 191px;
    margin-top: 10px;
    overflow: hidden;
}

/* HHOVER EFECT when pointing with the mouse 
we can make the hover effect not only with the first class---
we can do it with the last::: in that case 
when you point the card -The overflow text will rise up, but if we
write like this .card .content:hover {} you must point the text NOT THE CARD!*/

.card:hover .content{
    bottom: 0px;
}

/* Simple grid example */

.simple-grid {
    margin-top: 32px;
    padding: 12px;
    border: 1px dashed black;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 100px);
    gap: 12px;
}

.simple-grid .item {
    background-color: orange;
    border-radius: 4px;
    text-align: center;
}

/* GRID AREAS EXAMPLE */

.areas-grid{
    margin-top: 32px;
    padding: 12px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 200px);
    gap: 12px;
    grid-template-areas: 
    "small1 medium1 large"
    "small1 medium1 large"
    "small2 medium1 large"
    "small2 medium2 large"
    "small3 medium2 large"
    "small3 medium2 large";
}

.areas-grid .item {
    overflow: hidden;
}

.areas-grid .grid-article {
    position: relative;
    height: 100%;
}

.areas-grid .grid-article img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.areas-grid .grid-article h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 10px;
    color: white;
}

.areas-grid .item1{
    grid-area: small1;
}

.areas-grid .item2{
    grid-area: small2;
}

.areas-grid .item3{
    grid-area: small3;
}

.area-grid .item4 {
    grid-area: medium1;
}

.area-grid .item5 {
    grid-area: medium2;
}

.area-grid .item6 {
    grid-area: large;
}