.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(6, 100px);
    gap: 16px;
    grid-template-areas:
    "head head head head head head"
    "side side content content content content"
    "side side content content content content"
    "side side content content content content"
    "side side content content content content"
    "foot foot foot foot foot foot";
}

.header {
    grid-area: head;
}

.content {
    grid-area: content;
}

.sidebar{
    grid-area: side;
}

.grid-container div {
    background-color: orange;
}

.footer {
    grid-area: foot;
}